{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    <div class="d-flex flex-row card">
        <div class="card-body flex-grow-0">
            <img src="/images/{{ book.thumbnailUrl }}" alt="Изображение">
        </div>
        <div class="card-body">
            <h2>{{ book.title }}</h2>
            <h6 class="text-muted">{{ book.isbn }}</h6>
            <div class="mt-3">
                <div>
                    Кол-во страниц: {{ book.pageCount|default(0) }}
                </div>
                <div>
                    Категории:
                    {% for category in book.category.categories %}
                        <a href="{{ path('app_index_category', {'id': category.id}) }}" class="text-decoration-none">
                            <span class="badge rounded-pill text-bg-secondary">{{ category.title }}</span>
                        </a>
                    {% endfor %}
                    <a href="{{ path('app_index_category', {'id': book.category.id}) }}" class="text-decoration-none">
                        <span class="badge rounded-pill text-bg-secondary">{{ book.category.title }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
